/* TODO Add Animation to the buttons */


html, 
body {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
    

#display {
    display: flex;
    justify-content: right;
    align-items: center;
    border: 1px solid black;
    height: 72px;
    font-size: 60px;
    max-width: 408px;
    overflow: hidden;
}

#digits-operators {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

#miscButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

#Escape,
#Backspace,
#n {
    flex: 1;
    margin: 0px;
}

#allDigits {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.digit,
.operator,
#\.,
#\=,
#Escape,
#Backspace,
#n {
    border: 1px solid black;
    font-size: 20px;
    padding: 20px;
    min-height: 30px;
    min-width: 50px;
    text-align: center;
    margin: 0px;
}

.digit {
    transition: background-color 0.1s ease;

}

.digit:active,
.digit:focus {
    background-color: pink;
}

.digitRow {
    display: flex;
    justify-content: center;
    gap: 5px;

}

#operatorRow {
    display: flex;
    flex-direction: column-reverse;
    gap: 5px;
}

.digit,
#\.,
#\= {
    background-color: var(--digit-color);
}

#Escape,
#n,
#Backspace,
.operator {
    background-color: grey;
}

/* :root {
    --digit-color: rgb(247, 247, 247);
}; */