/* TODO miscButtons is slightly smaller than the rest of content.  Try and fix that. */
/* TODO Add color to the buttons */
/* TODO Add Animation to the buttons */

html, 
body {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
    

#display {
    display: flex;
    justify-content: right;
    align-items: center;
    border: 1px solid black;
    height: 50px;
    font-size: 40px;
    max-width: 408px;
    overflow: hidden;
}

#digits-operators {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

#miscButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#clear,
#backspace,
#negative {
    flex: 1;
    margin: 0px;
}

#allDigits {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.digit,
.operator,
#decimal,
#equal,
#clear,
#backspace,
#negative {
    border: 1px solid black;
    font-size: 20px;
    padding: 20px;
    min-height: 30px;
    min-width: 50px;
    text-align: center;
    margin: 0px;
}

.digitRow {
    display: flex;
    justify-content: center;
    gap: 5px;

}

#operatorRow {
    display: flex;
    flex-direction: column-reverse;
    gap: 5px;
}
